body       { BACKGROUND-COLOR: #7F7F7F; COLOR: #000000; TEXT-ALIGN: justify; FONT-FAMILY: Verdana, Arial, Helvetica, MS Sans Serif, Sans-Serif; }

a:link     { COLOR: #0055BB; TEXT-DECORATION: underline; }
a:visited  { COLOR: #000066; TEXT-DECORATION: underline; }
a:active   { COLOR: #000066; TEXT-DECORATION: underline; }
a:hover    { COLOR: #CC3333; TEXT-DECORATION: underline; }

table      { WIDTH: 90%; MAX-WIDTH: 900px; PADDING: 0px 4%; BACKGROUND-COLOR: #FFFFFF; }
td.top     { PADDING-TOP: 0px; PADDING-BOTTOM: 1%; }
td.mid     { PADDING-TOP: 0px;  PADDING-BOTTOM: 12px; }
td.bot     { PADDING-TOP: 24px; PADDING-BOTTOM: 48px; }

ul         { TEXT-ALIGN: left; TEXT-INDENT: 0px; PADDING-BOTTOM: 2px;}
li         { PADDING-TOP: 10px; }
ol         { TEXT-ALIGN: left; TEXT-INDENT: 0px; }

.nam       { COLOR: #7F7F7F; FONT-SIZE: 75%;  FONT-WEIGHT: bold; TEXT-ALIGN: right; PADDING: 4px 4px; }
.nav       { COLOR: #000066; FONT-SIZE: 75%;  FONT-WEIGHT: bold; TEXT-ALIGN: left; BACKGROUND-COLOR: #C0C0C0; PADDING: 4px 4px; }
.lnk       { COLOR: #7F7F7F; FONT-SIZE: 75%;  FONT-WEIGHT: bold; TEXT-ALIGN: left; BACKGROUND-COLOR: #FFFFFF; PADDING: 8px 4px; }
.txt       { FONT-SIZE: 75%; TEXT-ALIGN: justify; TEXT-INDENT: 24px; LINE-HEIGHT: 140%; VERTICAL-ALIGN: top; }
.image     { TEXT-INDENT: 0px; TEXT-ALIGN: center; PADDING: 6px 0px; FONT-STYLE: italic }
.hd1       { COLOR: #336699; FONT-SIZE: 150%; FONT-WEIGHT: bold; TEXT-ALIGN: left; PADDING-TOP: 12px; }
.hd2       { COLOR: #7F7F7F; FONT-SIZE: 150%; FONT-WEIGHT: bold; TEXT-ALIGN: left; PADDING-TOP: 12px; }
.hd3       { FONT-WEIGHT: bold; TEXT-ALIGN: left; PADDING-TOP: 6px; }
.hd4       { FONT-WEIGHT: bold; TEXT-ALIGN: left; MARGIN: 0px; }

img, object, video, embed { max-width: 100%; }
