body {
color: #000000;
text-align: center;
font-family: Verdana, Arial, Helvetica, MS Sans Serif, Sans-Serif; /* Рубленый шрифт на странице */
background-color: #7f7f7f;
margin-left: 2%;
margin-right: 2%;
}
#back {
background: #ffffff; /* Цвет фона */
width: 100%;
margin-left: auto;
margin-right: auto;
max-width: 1800px;
padding: 5px;
}
#top { /* Верхняя часть с заголовком страницы */
background: #ffffff; /* Цвет фона */
width: 90%;
margin-left: auto;
margin-right: auto;
padding-top: 50px;
padding-bottom: 15px;
padding-left: 0px;
padding-right: 0px;
}
#header {
background: #ffffff;
width: 90%;
margin-left: auto;
margin-right: auto;
color: #7f7f7f;
font-size: 90%;
font-weight: bold;
text-align: right;
padding-top: 5px;
padding-bottom: 5px;
}
#header1 {
background: #c0c0c0;
width: 90%;
margin-left: auto;
margin-right: auto;
color: #000066;
font-size: 90%;
font-weight: bold;
text-align: left;
padding-top: 5px;
padding-bottom: 5px;
}
#content { /* Основное содержание страницы */
background: #ffffff; /* Цвет фона */
width: 90%;
margin-left: auto;
margin-right: auto;
font-size: 85%;
text-align: left;
padding-top: 5px;
padding-bottom: 5px;
}
a:link     { color: #0055BB; text-decoration: underline; }
a:visited  { color: #0055BB; text-decoration: underline; }
a:active   { color: #00A066; text-decoration: underline; }
a:hover    { color: #CC3333; text-decoration: underline; }
ul { TEXT-ALIGN: left; TEXT-INDENT: 0px; PADDING-BOTTOM: 2px; }
li { PADDING-TOP: 10px; }
ol { TEXT-ALIGN: left; TEXT-INDENT: 0px; }

.hd1 { COLOR: #ff0000; FONT-SIZE: 200%; FONT-WEIGHT: bold; TEXT-ALIGN: left; PADDING-TOP: 12px; }
.hd2 { COLOR: #7F7F7F; FONT-SIZE: 150%; FONT-WEIGHT: bold; TEXT-ALIGN: left; PADDING-TOP: 12px; }
.hd3 { FONT-WEIGHT: bold; TEXT-ALIGN: left; PADDING-TOP: 6px; }
.hd4 { FONT-WEIGHT: bold; TEXT-ALIGN: left; MARGIN: 0px; }

.p { padding-top: 5px; }

.t_blue { color: #0000e0; }
.t_red { color: #ff0000; }
.t_purple { color: #b000b0; }
.t_green { color: #00a000; }
.t_bold { font-weight: bold; }
