<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <title>sPlan</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="../question mark.ico" type="image/x-icon">
  <link href="../css.css" type="text/css" rel="stylesheet">
</head>
<body>
<table cellspacing="0" align="center">
<tbody>
<tr><td>&nbsp;</td></tr>
<tr><td class="top"> <img src="layout.jpg" border="0"></td></tr>
<tr>
  <td class="top">
    <div class="nam">Система подсказок v.0.1.</div>
    <div class="nav"> <a href="../index.html">Содержание</a> - Sprint Layout </div>
  </td>
</tr>
<tr>
  <td class="txt">
    <div class="hd4">Общее</div>
    <ul>
      <li>Не забывайте о неплохой помощи по F1 </li>
      <li>Многие действия доступны также в контекстном меню по <font color="#FF0000">ПКМ</font> </li>
    </ul>
    <ul>
      <li>Вращение посадочного места: <font color="#FF0000">Ctrl+R</font> или <font color="#0000E0">Menu/Действия/Повернуть</font> </li>
      <li>Отзеркалить по горизонтали: <font color="#FF0000">Ctrl+H</font> или <font color="#0000E0">Menu/Действия/Зеркально по горизонтали</font> </li>
      <li>Отзеркалить по вертикали: <font color="#FF0000">Ctrl+T</font> или <font color="#0000E0">Menu/Действия/Зеркально по вертикали</font> </li>
      <li>Перенести на противоположный слой: <font color="#FF0000">Ctrl+W</font> или <font color="#0000E0">Menu/Действия/Перенести на противоположный слой</font> </li>
    </ul>
  </td>
</tr>
<tr>
  <td class="txt">
    <ul>
      <li> <a href="Lesson.wmv">Видеоурок по программе</a> </li>
    </ul>
  </td>
</tr>
<tr>
  <td class="bot">
    <div class="nav"> <a href="../index.html">Содержание</a> - Sprint Layout </div>
  </td>
</tr>
</tbody></table>
</body>
</html>
