<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="../question mark.ico" type="image/x-icon">
  <link href="../css.css" type="text/css" rel="stylesheet">
  <title>Система подсказок</title>
</head>
<body>
<div id="back">
  <div id="top"><img src="layout.jpg" width="100%"></div>
  <div id="header">Система подсказок v.0.2.&nbsp;</div>
  <div id="header1">&nbsp;<a href="../index.html">Содержание</a> - Sprint Layout</div>
  <div id="content">
    <div class="hd4">Общее</div>
    <ul>
      <li>Не забывайте о неплохой помощи по F1 </li>
      <li>Многие действия доступны также в контекстном меню по <font color="#FF0000">ПКМ</font> </li>
    </ul>
    <ul>
      <li>Вращение посадочного места: <font color="#FF0000">Ctrl+R</font> или <font color="#0000E0">Menu/Действия/Повернуть</font> </li>
      <li>Отзеркалить по горизонтали: <font color="#FF0000">Ctrl+H</font> или <font color="#0000E0">Menu/Действия/Зеркально по горизонтали</font> </li>
      <li>Отзеркалить по вертикали: <font color="#FF0000">Ctrl+T</font> или <font color="#0000E0">Menu/Действия/Зеркально по вертикали</font> </li>
      <li>Перенести на противоположный слой: <font color="#FF0000">Ctrl+W</font> или <font color="#0000E0">Menu/Действия/Перенести на противоположный слой</font> </li>
    </ul>
  </div>
  <div id="header1">&nbsp;<a href="../index.html">Содержание</a> - Sprint Layout</div>
  <br><br>
</div>
</body>
</html>
